body {
	font-family: 'Lato', sans-serif;
	color:#61a328;
	font-weight: 300;
	background-color:#ffffff}


.text-muted {
	color:#3e6f7e;
}

.text-thin {
	font-family: 'Lato';
	font-weight: 100;
}

#profile-pic {
	border-radius: 15px 50px;
	margin: 8px;
	transition: width 2s;
	/* Safari 3.1 to 6.0 */
	-webkit-transition: border-radius .8s;

}
#profile-pic:hover{
	border-radius: 50px 15px;

}

#mainPic{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#WiP{
	background: rgba(0,0,0,.6);
	position: absolute;
	font-size: 200%;
}

div[class="col-md-6"] > img {
	filter: blur(2px);
	filter: saturate(0.4);
}
div[class="col-md-6"] > img:hover {
	filter: blur(0px);

}

#foll-sub{
	display: flex;
	width: 560px;
	height: 300px;
	background: linear-gradient(to right, skyblue, rgba( 93, 227, 218, 0.341 ), green);
	justify-content: space-around;
}
#foll-sub > span{
	z-index: -1;
	position: relative;
	width: 0px;
	height: 0px;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 300px solid rgba( 69, 170, 163, 0.68 );

}
/*a{
	color: crimson;

}
*/
